@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
html,
body,
#root,
.app,
.content {
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* sidebar */

/* .Sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 200;
  object-fit: contain;
  transition: all 1s;
  overflow: auto;
} */
.TopBar {
  margin-left: 180px;
}
.hidden {
  display: none;
}
/* header */
.Header {
  margin-left: 215px;
  transition: all 1s;
  margin-right: 15px;
}

.transition {
  transition: all 1s;
}

/*  profile box */
.profile-box {
  width: 300px;
  height: 200px;

  position: absolute;
}
.active {
  background: #6a4d4d89 !important ;
  padding: 10px;
  border-radius: 7px;
}
.inactive {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #6a4d4d89;
}
/* my profile box  */
.MyProfileBox {
  top: 90px;
  min-width: 300px;
  height: 400px;
  right: 50px;
  z-index: 20;
  border-radius: 0.7rem;
  transition: all 1s;
}

.imageAinimation {
  transition: all 1s;
}

/*  */

@media screen and (max-width: 754px) {
  .inputBass {
    display: block;
    padding: 0;
  }
  /* .Sidebar {
    width: 100px;
    transition: all 3s;
  } */

  .TopBar {
    margin-left: 100px;
    transition: all 1s;
  }
  .Header {
    margin-left: 115px;
  }
  .DetailText {
    display: none;
  }
  .FineImade {
    width: 100%;
  }
  .ProfileDetails {
    width: 100%;
  }
  .Colum {
    flex-direction: column;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 556px) {
  .Sidebar {
    width: -0px;
    transition: all 1s;
  }
  .TopBar {
    margin-left: 0px;
    transition: all 1s;
  }
  .Header {
    margin-left: 15px;
  }
}

.Transition {
  transition: all 1s;
}
